.card {
  display: flex;
  width: 400px;
  height: 225px;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  background-color: gold;

  font-family: 'Courier New', Courier, monospace;
  font-size: 2vw;
  font-weight: bold;
  flex-direction: column;
}

.card-block {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background-color: blueviolet;
  color: white;
  font-family: inherit;
  font-size: 1.5vw;
  border-radius: 50px;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1.5px ;
}